<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title></title>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<link rel="stylesheet" href="../static/home/bootstrap-4.5.2-dist/css/bootstrap.css">
<link rel="stylesheet" href="../static/home/Design.css">


</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-#201F1F">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
		<a class="nav-link " href="{% url 'home:index' %}" style="color: white">Home </a>
		<a class="nav-link " href="{% url 'home:projek' %}" style="color: white">Project</a>
		<a class="nav-link " href="{% url 'home:blog' %}" style="color: white">Blog</a>
		<a class="nav-link " href="{% url 'home:product_list' %}" style="color: white">Jadwal</a>
    <a class="nav-link " href="{% url 'home:card_kegiatan' %}" style="color: white">Kegiatan</a>
    <a class="nav-link " href="{% url 'home:about' %}" style="color: white">About</a>
    <a class="nav-link " href="{% url 'Story8:ajax' %}" style="color: white">Story 8</a>
    <a class="nav-link " href="{% url 'Story9:main' %}" style="color: white">Story 9</a>
    </div>
  </div>
</nav>
</body>
</html>