<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%} {% endblock %}</title>

</head>
<body>
    {% include "_navbar.html"%}
    <div>
        {% block content %}
        {% endblock content %}  
    </div>

    <footer class="page-footer font-small blue" style="margin-top: 5%;">

        <div class="footer-copyright text-center py-3">© 2020 Copyright:
          <p style="color: #079211"> Kevin - 1906350811 </p>
        </div>
      
      </footer>
      
</body>
</html>