{% extends "base.html" %}
{% block content %}
{% load static %}



<script src="{% static 'js\script.js' %}" type="text/javascript"></script>

</head>
<body>
<p class="heading">Accordion</p>
<p>Story-7</p>

    <div id="accordion">
        <div class="item">
          <h3>Hobi saya
            <div class="move" style="background-color:#ffffff;">
              <button class="move-down btn-info btn-sm">V</button>
              <button class="move-up btn-info btn-sm">Ʌ</button>
            </div>
          </h3>
          <div class="panel">
            <p style="background-color: #ffffff; color: black;">
                Saya sangat senang mendengarkan musik dimanapun dan kapanpun,karena mendengarkan musik adalah hal yang paling menyenangkan untuk dilakukan.
                Saya merasa tenang,nyaman,dan damai bila saat mendengarkan musik.secara tak langsung dapat mempunyai kita.
                Jadi musik menurut saya,bisa menjadi alternatif untuk menghilangkan stres atau kejenuhan.
                Dengan musik suasana bisa menjadi lebih berwarna,
                Semua orang pasti suka musik dan tergantung genre apa yg di suka.
                Musik itu memiliki genre bermacam -macam seperti pop,rock,klasik, blues, metal dan lain-lain.
            </p>
          </div>
        </div>
        
        <div class="item">
          <h3>Pengalaman Organisasi
            <div class="move" style="background-color:#ffffff;">
              <button class="move-down btn-info btn-sm">V</button>
              <button class="move-up btn-info btn-sm">Ʌ</button>
            </div>
          </h3>

          <div class="panel">
            <p style="background-color: #ffffff; color: black;">
            Berikut adalah Organisasi yang pernah saya ikut : <br><br>
            1) UI/UX OH Fasilkom <br>
            2) UI/UX Designer Compfest <br>
            3) Head of Creative and Documentation DPM Fasilkom UI <br>
          </p>
          </div>
      
        </div>
        
        <div class="item">
          <h3>Makanan kesukaan saya
            <div class="move" style="background-color:#ffffff;">
              <button class="move-down btn-info btn-sm">V</button>
              <button class="move-up btn-info btn-sm">Ʌ</button>
            </div>
          </h3>
          
          <div class="panel">
            <p style="background-color: #ffffff; color: black;">
            Berikut adalah Makanan yang saya suka : <br><br>
            1) Pizza <br>
            2) Ayam goreng <br>
            3) Mie <br>
          </p>
          </div>

        </div>
        
        <div class="item">
          <h3>     Minuman Kesukaan
            <div class="move" style="background-color:#ffffff;">
                <button class="move-down btn-info btn-sm">V</button>
                <button class="move-up btn-info btn-sm">Ʌ</button>
            </div>      
          </h3>
    
          <div class="panel">
            <p style="background-color: #ffffff; color: black;">
            Berikut adalah Minuman yang saya suka : <br><br>
            1) Jus Alpukat <br>
            2) Jus Semangka <br>
            3) Milk Tea <br>
          </p>
          </div>

        </div>

        <div class="item">
          <h3>     Warna Kesukaan
            <div class="move" style="background-color:#ffffff;">
                <button class="move-down btn-info btn-sm">V</button>
                <button class="move-up btn-info btn-sm">Ʌ</button>
            </div>      
          </h3>
    
          <div class="panel">
            <p style="background-color: #ffffff; color: black;">
            Berikut adalah Warna yang saya suka : <br><br>
            1) Biru <br>
            2) Hijau <br>
            3) Putih <br>
          </p>
          </div>

        </div>
</body>
</html>

{% endblock %}