{% extends "base.html" %}
{% block content %}
{% load static %}

<!-- Konten-1 -->
<div class="container-fluid padding" style="margin-top:48px; ">
	<p class="heading">Laptop Gratis Untuk Semua Maba (31-02-2020)</p>
<div class="row padding">
	<div class="col-lg-5">
	<img src="../../static/home/gambar/UNI1.png" alt="Universitas Indonesia" width="100%"> 
	</div>
	<div class="col-md-12 col-lg-7">
	<p>Universitas Indonesia adalah kampus modern, komprehensif, terbuka, multi budaya, dan humanis yang mencakup disiplin ilmu yang luas. UI saat ini secara simultan selalu berusaha menjadi salah satu universitas riset atau institusi akademik terkemuka di dunia. Sebagai universitas riset, upaya-upaya pencapaian tertinggi dalam hal penemuan, pengembangan dan difusi pengetahuan secara regional dan global selalu dilakukan. Sementara itu, UI juga memperdalam komitmen dalam upayanya di bidang pengembangan akademik dan aktifitas penelitian melalui sejumlah disiplin ilmu yang ada dilingkupnya............................ </p>
	<button type="button" class="btn btn-success">Baca Selengkapnya</button><br><br>

	<br>
	</div>
</div>
</div>

<!-- Konten-2 -->
<div class="container-fluid padding" style="margin-top:48px; ">
	<p class="heading">Tips Kuliah di Fasilkom (30-02-2020)</p>
<div class="row padding">
	<div class="col-lg-5">
	<img src="../../static/home/gambar/UNI1.png" alt="Universitas Indonesia" width="100%"> 
	</div>
	<div class="col-md-12 col-lg-7">
	<p>Universitas Indonesia adalah kampus modern, komprehensif, terbuka, multi budaya, dan humanis yang mencakup disiplin ilmu yang luas. UI saat ini secara simultan selalu berusaha menjadi salah satu universitas riset atau institusi akademik terkemuka di dunia. Sebagai universitas riset, upaya-upaya pencapaian tertinggi dalam hal penemuan, pengembangan dan difusi pengetahuan secara regional dan global selalu dilakukan. Sementara itu, UI juga memperdalam komitmen dalam upayanya di bidang pengembangan akademik dan aktifitas penelitian melalui sejumlah disiplin ilmu yang ada dilingkupnya............................ </p>
	<button type="button" class="btn btn-success">Baca Selengkapnya</button><br><br>

	<br>
	</div>
</div>
</div>

<!-- Konten-3 -->
<div class="container-fluid padding" style="margin-top:48px; ">
	<p class="heading">Magang di Tokopedia (22-02-2020)</p>
<div class="row padding">
	<div class="col-lg-5">
	<img src="../../static/home/gambar/UNI1.png" alt="Universitas Indonesia" width="100%"> 
	</div>
	<div class="col-md-12 col-lg-7">
	<p>Universitas Indonesia adalah kampus modern, komprehensif, terbuka, multi budaya, dan humanis yang mencakup disiplin ilmu yang luas. UI saat ini secara simultan selalu berusaha menjadi salah satu universitas riset atau institusi akademik terkemuka di dunia. Sebagai universitas riset, upaya-upaya pencapaian tertinggi dalam hal penemuan, pengembangan dan difusi pengetahuan secara regional dan global selalu dilakukan. Sementara itu, UI juga memperdalam komitmen dalam upayanya di bidang pengembangan akademik dan aktifitas penelitian melalui sejumlah disiplin ilmu yang ada dilingkupnya............................ </p>
	<button type="button" class="btn btn-success">Baca Selengkapnya</button><br><br>

	<br>
	</div>
</div>
</div>

</body>

</html>

{% endblock %}