{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container">
        <div class="container-fluid justify-content-center">
            <div class="row justify-content-center"></div>
            <h2 class="featurette-heading">
            <br>
            <p class="heading">List Kegiatan</p>
            <p>Story-6</p>
            <br> 
            <a class="btn btn-dark justify-content-center " href="{% url 'home:tambah' %}" style="background-color: #079211;">Tambah Aktifitas</a>
            <br>
            <br> 

           {% for a in keg_par %}
          
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <div class="card border-primary mb-4" style="max-width: 24rem;">
                    <div class="card-header" style="background-color: #079211;">{{ a.0.namaKegiatan }}</div>
                    <div class="card-body text-primary" style="border: white;">
                        <p class="card-text">  
                            <p>Nama Peserta</p>
                            <p>{% for b in a.1 %}</p>
                            <p> - {{ b.namaPeserta }} </p>
                            {% endfor %}
                            <a type="button" class="btn btn-info" style="background-color: #079211" href="{% url 'home:tambah_peserta' %}">Ikut Aktifitas</a>
                        </p>

                    </div>
                    </div>
                </div>
            </div>
        </div>
            {% endfor %}

</div>      
</body>
</html>

{% endblock %}