{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container-fluid padding" style="margin-top:48px; ">
<div class="row padding">
	<div class="col-md-12 col-lg-7">
		<p class="heading" style="color: #079211;">Halo , Saya Kevin (1906350811)</p>
		<p class="subheading">Mahasiswa Jurusan Ilmu Komputer 2019</p>
		<p>Saya adalah mahasiswa Faslikom 2019 dan Ini merupakan web yang pertama kali saya buat. Saya memiliki hobi dalam dunia desain , menonton film dan tentunya membaca buku. Saya berasal dari Sumatera Utara tepatnya kota Medan. Saya mempunyai cita-cita menjadi seorang UI UX designer. Salam Kenal dan Mari kita sama-sama belajar PPW </p>
		<button type="button" class="btn btn-success">Download CV</button><br><br>
			<a href="http://facebook.com" target="_blank"><img src="../../static/home/gambar/Facebook.png" alt="Facebook"></a>
			<a href="https://www.instagram.com/kep9901" target="_blank"><img src="../../static/home/gambar/Instagram.png" alt="Instagram"></a>
			<a href="http://Line.com" target="_blank"><img src="../../static/home/gambar/Line.png" alt="Line"></a>
			<a href="http://LinkedIn.com" target="_blank"><img src="../../static/home/gambar/LinkedIn.png" alt="LinkedIn"></a>
			<a href="http://Twitter.com" target="_blank"><img src="../../static/home/gambar/Twitter.png" alt="Twitter"></a>
	</div>

	<div class="col-lg-5">
	<br>
	<img src="../../static/home/gambar/Kevin.png" alt="Universitas Indonesia" class="img-fluid" width="75%" style="margin-left: 20% ">
	</div>
</div>
</div>

<div style="margin-top: 180px;">
	
	<p class="heading" >Projek Terbaru Saya</p>
	<a href="https://www.behance.net/gallery/90833931/UX-Case-Study-Teman-Pacil" target="_blank"><img src="../../static/home/gambar/Cover.jpg" alt="TemanPacil" width="100%" style="margin-top:24px;"></a>


</div>



<!--- Riwayat Pendidikan Saya -->
<div class="container-fluid padding" style="margin-top:180px; ">
<div class="row padding">
	<div class="col-12">
		<p class="heading">Riwayat Pendidikan Saya</p>
		<li>2006-2012 , SD Swasta Wr.Supratman</li>
		<li>2012-2016 , SMP Swasta Wr.Supratman</li>
		<li>2016-2019 , SMA Swasta Sutomo 1</li>
		<li>2019-Now  , Universitas Indonesia</li>
	</div>
</div>
</div>

<!--- Riwayat Pendidikan Saya -->
<div class="container-fluid padding" style="margin-top:180px; ">
	<p class="heading">Tempat Kuliah Saya</p>
<div class="row padding">
	<div class="col-lg-5">
	<img src="../../static/home/gambar/UNI1.png" alt="Universitas Indonesia" width="100%"> 
	</div>
	<div class="col-md-12 col-lg-7">
	<p>Universitas Indonesia adalah kampus modern, komprehensif, terbuka, multi budaya, dan humanis yang mencakup disiplin ilmu yang luas. UI saat ini secara simultan selalu berusaha menjadi salah satu universitas riset atau institusi akademik terkemuka di dunia. Sebagai universitas riset, upaya-upaya pencapaian tertinggi dalam hal penemuan, pengembangan dan difusi pengetahuan secara regional dan global selalu dilakukan. Sementara itu, UI juga memperdalam komitmen dalam upayanya di bidang pengembangan akademik dan aktifitas penelitian melalui sejumlah disiplin ilmu yang ada dilingkupnya.Ingin lebih tahu mengenai UI , Klik tombol dibawah ini </p>
	<button type="button" class="btn btn-success">Selanjutnya</button><br><br>

	<br>
	</div>
</div>
</div>

</body>
</html>

{% endblock %}