{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
      <br>
      <p class="heading">Tambah Kegiatan</p>
      <p>Story-6</p>
      <hr class="mt-0 mb-4">
      <form method="POST">
        {% csrf_token %} 
        {{ form|crispy }}
        <br>
        <br>
        <button type="submit" class="btn btn-primary" style="background-color: #079211; border:none ;">Submit</button>
        <a type="button" class="btn btn-light" href="{% url 'home:card_kegiatan' %}"><b style="color: black ; background-color: white;">Back</b></a>
      </form>

</div>

</body>
</html>

{% endblock %}