{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<p class="heading">Susun Jadwal</p>
<p>Story-5</p>

<br>
  <div class="container-fluid padding">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="featurette-heading"><b>Mata Kuliah yang diambil</b></h2>
        <hr class="mt-0 mb-4">
        <div class="list-group">
            {% for i in listp %}
            <a href="{{ i.id }}" class="list-group-item list-group-item-action"><b style="background-color:#FFF; color: black;">{{ i.namaMatkul }}</b></a>
            {% endfor %}
        </div>
        <br>
        <a class="btn btn-dark" style="background-color:#079211;" href="{% url 'home:product_create' %}"><b style="background-color:#079211; color:#FFF;">Tambah Matakuliah</b></a>
      <br>
    </div>
  </div>
</div>

{% endblock %}