{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<p class="heading">Susun Jadwal</p>
<p>Story-5</p>

<br>
<div class="container-fluid padding">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="featurette-heading"><b>Course Detail</b></h2>
        <table class="table" style="text-align: left; background-color: white;" >
        <tbody >
          <tr>
            <th scope="row">Nama matkul</th>
            <td>{{ prod.namaMatkul }}</td>
          </tr>
          <tr>
            <th scope="row">Dosen</th>
            <td>{{ prod.dosen }}</td> 
          </tr>
          <tr>
            <th scope="row">Sks</th>
            <td>{{ prod.jumlahSks }}</td>
          </tr>
          <tr>
            <th scope="row">Semester</th>
            <td>{{ prod.semester }}</td>
          </tr>
          <tr>
            <th scope="row">Ruang Kelas</th>
            <td>{{ prod.ruangKelas }}</td>
          </tr>
        </tbody>
      </table>
      
      <a type="button" class="btn btn-light" href="{% url 'home:product_list' %}"><b style="background-color: #FFF; border:none ; color: black;">Back</b></a>
      <center>
      <a type="button" class="btn btn-info" href="{% url 'home:update' prod.id %}" style="background-color: #079211; border:none">Update Course</a>
      <a class="btn btn-danger" href="{% url 'home:product_delete' prod.id %}">Delete Course</a>
      </center>
      
  </div>
</div>
</div>

{% endblock %}