{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<p class="heading">Susun Jadwal</p>
<p>Story-5</p>


<div class="container-fluid padding">
        <hr class="mt-0 mb-4">
        <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <br>
          <br>
          <br>
          <button type="submit" class="btn btn-primary" style="background-color: #079211; border:none ;">Submit</button>
          <a type="button" class="btn btn-light" style="background-color: #FFF; border:none" href="{% url 'home:product_list' %}"><b style="background-color: #FFF; color: black;">Back</b></a>
        </form>
</div>

<br>


{% endblock %}