{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<p class="heading">Susun Jadwal</p>
<p>Story-5</p>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-8">
        <hr class="mt-0 mb-4">
        
        <form action="{% url 'home:product_delete' item.id %}" method='POST'>
            {% csrf_token %}
            <h5 class="featurette-heading">Do you want to delete the course "{{item}}"?</h5>
            <br>
            <button type="submit" class="btn btn-info" style="background-color: #079211 ; border: none;"><b style="background-color: #079211">Yes</b></button>
            <a type="button"  class="btn btn-danger" style="background-color: red;" href = "{% url 'home:product_list' %}" ><b style="background-color: red;">Cancel</b></a>

      </div>
    </div>
  </div>

{% endblock %}