{% extends "base.html" %}
    {% block content %}
    {% load static %}

<div style="margin-top: 48px;">
	
	<p class="heading" >Projek Saya</p>
	<a href="https://www.behance.net/gallery/90833931/UX-Case-Study-Teman-Pacil" target="_blank"><img src="../../static/home/gambar/Cover.jpg" alt="TemanPacil" width="100%" style="margin-top:24px;"></a>
	<img src="../../static/home/gambar/Coming.png" alt="TemanPacil" width="100%" style="margin-top:48px;"></a>



</body>
</html>

{% endblock %}
