{% extends "base.html" %}
    {% block content %}
    {% load static %}

<script src="{% static 'js\script.js' %}" type="text/javascript"></script>


<div style="margin-top: 48px;">
	
    <p class="heading" >Story 8</p>
    <p>Masukkan Nama Buku</p>
    <input id="keyword" placeholder="Masukkan Nama Buku"><br>
    <br><br>
    
    <table id="daftar_isi" class="table table-bordered">   

    </table>
    

<script>
    $("#keyword").keyup(function() {
        var ketikan = $("#keyword").val();
        console.log(ketikan);

        $.ajax({
            url : 'https://www.googleapis.com/books/v1/volumes?q=' + ketikan,
            success : function(data)  {
                var array_items = data.items;
                console.log(data);

                 $("#daftar_isi").empty();
                 $("#daftar_isi").append( "<tr><td> No </td><td>Judul</td><td>Penulis</td><td>Gambar Buku</td></tr>");

                 for ( i = 0 ; i <array_items.length;i++){
                     var judul = array_items[i].volumeInfo.title;
                     var penulis = array_items[i].volumeInfo.authors[0];
                     var gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
                     

                     $("#daftar_isi").append( "<tr><td> "+ i + "</td><td>"  + judul  +  "</td><td>" + penulis +"</td><td><img src= " + gambar + "></td></tr>");


                    
                 }
            }     
        });

    });


</script>

</body>
</html>

{% endblock %}
