{% extends "base.html" %}
{% block content %}
{% load static %}

<p class="heading" >Story 9</p>

    <div class="container">

        {% if user.is_authenticated %}

        <p> Selamat datang {{ request.user.username }}! </p>
        <p> Tekan logout jika mau logout </p>
        <div class="text-center">
          <a class="btn btn-primary btn-lg" href="{% url 'Story9:logout' %}" button>Logout</a>
        </div>

        {% else %}

        <p> Selamat datang ! </p>
        <p> Login atau daftar terlebih dahulu </p>
        <div class="text-center">
          <a class="btn btn-primary btn-lg" href="{% url 'Story9:login' %}" button>Login</a><br><br>
          <a class="btn btn-primary btn-lg" href="{% url 'Story9:register' %}" button>Daftar</a>
        </div>

        {% endif %}

    </div>


{% endblock %}