{% extends "base.html" %}
{% block content %}
{% load static %}
<center>
			<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">


			<h3 id="form-title">MASUK</h3>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
                        {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Nama..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="login">
				   			</div>
					</form>

				</div>
                
                {% for message in messages %}
                    <p id=messages> {{message}} </p>
				{% endfor %}
				
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Belum memiliki akun? <a href="{% url 'Story9:register' %}" class="ml-2">Daftar</a>
					</div>
			
				</div>
			</div>
		</div>	

	</center>

{% endblock %}
