
*{
	color: white ;
	background: #201F1F ;
	margin: 0px;
	font-family: Poopins-Regular ;
	text-decoration: none;
	font-size: 18px;
	}

 @font-face 
        {
            font-family: 'Poopins-Regular'; /*memberikan nama bebas untuk font*/
            src: url('../home/font/Poppins-Regular.otf');/*memanggil file font eksternalnya di folder nexa*/
        }

 @font-face 
        {
            font-family: 'Poopins-Bold'; /*memberikan nama bebas untuk font*/
            src: url('../home/font/Poppins-Bold.otf');/*memanggil file font eksternalnya di folder nexa*/
        }

.navbar2{   
	margin: 0px;
	color: white;
	height: 67px;
}

.nav{
	float: right;
	color: white;
	padding : 24px;
	text-decoration: none;
}

.nav a{
	color:white ;
	text-decoration: none;
}

.nav a:hover{
	color:#079211 ;
}


.introduction{	
	margin-left: 114px; 
}


.footer{
	height: 300px;
}

.subheading{
	font-size: 48px; 
	font-family: Poopins-Bold;

}

.heading{
	font-size: 36px;
	font-family: Poopins-Bold;
}

.text{
	font-size: 18px;

}

img{
	margin-right: 20px; 
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
  }
  
  .accordion:after {
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
	background-color: #ccc;
  }
  
  .active:after {
	content: "\2212";
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
  }

  #keyboard {
	  background-color: white;
  }

  .panel {
	padding: 0 18px;
	background-color: white;
	display: none;
  	overflow: hidden;
  	transition: max-height 0.2s ease-out;
  }



